:root {
    --color-dark: #223449;
    --gb-grid: rgb(8, 0, 57);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-dark);
}

body {
    background-color: var(--gb-grid);
    max-height: 1000px;
}

/* Utility */
.hidden {
    display: none;
}

.clicked {
    color: var(--color-dark);
    background-color: cornflowerblue;
}

.asteroid {
    background-color: darkred;
    color: antiquewhite;
    font-size: 2.5rem;
}

/* Header */
.header_container {
    height: 5.5 rem;
    background-color: aliceblue;
    padding: 1rem 2rem;
    display: flex;
    font-family: "Hanken Grotesk", sans-serif;
    position: relative;
    z-index: 2;


    .left_side {
        gap: 1.5rem;
    }

    .right_side {
        justify-content: end;
    }

    #score {
        justify-content: center;
    }

    &>h1 {
        font-weight: 700;
        font-size: 2.5rem;
    }

    .right_side>button {
        padding: 0.4rem 2rem;
        font-size: 1rem;
    }

}

.left_side,
.right_side,
#score {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
}

/* Main */

#main {
    font-family: "Poller One", serif;
    height: calc(100vh - 8.6rem);
    padding: 3rem;
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    overflow-y: auto;

    .main_title {
        font-size: 3rem;
        color: aliceblue;
        text-shadow: #FC0 5px 0 20px;
        margin-bottom: 1.5rem;
    }
}

.game_container {
    width: 604px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 0;

    .cell {
        color: #ffffff;
        text-shadow: rgb(8, 0, 57) 1px 0 7px;
        width: calc(100% / 10);
        aspect-ratio: 1/1;
        border: 1px solid rgba(255, 255, 255, 0.543);
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;


    }
}


/* Footer */

.footer_text {
    height: 3.1rem;
    background-color: aliceblue;
    padding: 2rem;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;

    & a {
        padding: 0.3rem;
    }
}

/* Page for end game */

.end_game {

    height: 100vh;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;

    &>h2 {
        font-size: 5rem;
        text-shadow: 3px 3px 8px #223449;
        padding: 0;
        color: rgb(248, 255, 47);
        text-shadow: #FC0 1px 0 10px;
    }

    &>h3 {
        padding: 5rem;
        font-size: 2rem;
        color: white;
    }
}


/* Winner */
@keyframes bg_win {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }
}

.winner {
    background-image: url(../img/bg-win.jpg);
    background-size: cover;
    animation: bg_win 10s linear;
}

/* Loser*/
@keyframes loser_bg {

    0%,
    100% {
        background-color: rgba(139, 0, 0, 0.9);
    }

    50% {
        background-color: rgb(185, 0, 0, 0.9);
    }
}

@keyframes tilt {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


.loser {
    background-color: rgba(255, 0, 0, 0.9);
    animation: loser_bg 3s infinite;

    &>h2 {
        animation: tilt 7s infinite;
    }
}

#score {
    font-size: 3rem;
}

/* restart Button */
.btn_restart {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
}