:root {
    --color-dark: #223449;
    --gb-grid: rgb(64, 35, 252);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-dark);
}

body {
    background-color: var(--gb-grid);
   max-height: 1000px;
}

/* Utility */
.hidden {
    display: none;
}

.clicked {
    color: var(--color-dark);
    background-color: cornflowerblue;
}

.asteroid {
    background-color: darkred;
    color: antiquewhite;
    font-size: 2.5rem;
}

/* Header */
.header_container {
    height: 5.5 rem;
    background-color: aliceblue;
    padding: 1rem 2rem;
    display: flex;
    font-family: "Hanken Grotesk", sans-serif;


    .left_side {
        gap: 1.5rem;
    }

    .right_side{
        justify-content: end;
    }
    
    #score{
        justify-content: center;
    }

    & > h1 {
        font-weight: 700;
        font-size: 2.5rem;
    }

    .right_side>button {
        padding: 0.4rem 2rem;
        font-size: 1rem;
    }

}

.left_side,
.right_side,
#score {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
}

/* Main */

#main {
    font-family: "Poller One", serif;
    height: calc(100% - 300px);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .main_title {
        font-size: 3rem;
        border: 1px whitesmoke;
        text-shadow: -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px -1px 0 #ffffff;
        margin-bottom: 1.5rem;
    }
}

.game_container {
    width: 804px;
    height: calc(100% - 100px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    .cell {
        color: #ffffff;
        width: calc(100% / 10);
        aspect-ratio: 1/1;
        border: 1px solid rgba(255, 255, 255, 0.543);
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    }


/* Footer */

.footer_text {
    height: 3.1rem;
    background-color: aliceblue;
    padding: 2rem;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    & a {
        padding: 0.3rem;
    }
}

/* Page for end game */

.end_game{

    height: calc(100% + 300px);
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > h2 {
        font-size: 5rem;
        text-shadow: 3px 3px 8px #223449;
        padding: 0;
    }

    & > h3 {
        padding: 5rem;
        font-size: 2rem;
    }
}

.winner {
    background-image: url(../img/bg-win.jpg);
    background-size: cover;


    & > h2 {
        color: rgb(248, 255, 47);
        text-shadow: -1px 1px 0 var(--color-dark),
        1px 1px 0 var(--color-dark),
        1px -1px 0 var(--color-dark),
        -1px -1px 0 var(--color-dark);
    }

    & > h3 {
        color: white;
    }

}

/* Page for looser */

.loser {
    background-color: rgba(255, 127, 80, 0.5);

    & > h2 {
        color: red;
    }
}

#score {
    font-size: 3rem;
}
/* restart Button */
.btn_restart {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
}